/* used-fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&display=swap');

.fonts{
    font-family: 'Inter', sans-serif;



font-family: 'Poppins', sans-serif;
}

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

/* Header Section Styles */
.header-section{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.half-width{
    width: 45%; 
    margin-left: 5%;
    padding-right: 2%;  
}

.section-title{
    margin: 0;
    font-size: 52px;
    font-weight: 700;
}

.header-para{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 32px;
}

.link-button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
}

.header-image img{
    width: 440px;
    height: 414px;
    padding-left: 15%;
}

/* Company Section */

.sponsor-hr{
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border-image-slice: 1;
}

.sponsors{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsor img{
    width: 70px;
    padding-top: 10px;
}

/* Top Collection Section */
.container{
    width: 80%;
    margin-bottom: 100px;
}

.container a{
    color: #E02C6D;
    text-decoration: none;
    position: absolute;
    right: 11%;
}

.popular-collection{
    margin-bottom: 50px;
}

.collection-header{
    text-align: center;
    font-weight: 600;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.collection{
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collection img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.product-name, .product-price{
    margin: 12px 0;
}

.collection .product-name{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}

.product-price,.product-info{
    font-family: 'Inter', sans-serif;
}

.collection .product-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
}

.fa-star, .fa-star-half-alt{
    font-size: 11px;
    color: #FB8200;
}

.product-rating span{
    font-size: 14px;
    color: #5E6366;
    font-weight: 700;
}

.collection .product-details{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}

/* footer style */
footer{
    background-color: #0A0826;
    padding: 50px;
    margin-top: 50px;
    color: #FFFFFF;
    text-align: center;
}

footer h2,footer p{
    margin: 0;
}

footer p{
    color: #D9DBE1;
}

footer .social-icons{
    display: flex;
    justify-content: center;
}

footer .social-icon{
    font-size: 17px;
    color: white; 
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

}